/*** initialization ***/

@field-height: 160px;
@field-width: 322px;

@field-cell-size: 28px;

@nice-blue: #5B83AD;
@grid-border-color: #fff;

.border-radius (@radius) {border-radius: @radius;}

/*** main ***/

body { font-family: "Courier New", monospace; font-size: 16px; font-weight: bold;}

#wrapper { margin: 0 auto; width: @field-width; padding: 10px; .border-radius(10px); background: lightblue; 
  
  #grid { height: @field-height; overflow: hidden; background: url(../img/1.jpg); .border-radius(5px); padding: 1px;

    .cell { width: @field-cell-size;  height: @field-cell-size; float: left; color: @nice-blue; border: 1px solid @grid-border-color; .border-radius(5px); border: 1px solid lightgray; margin: 1px; }
    .chosen { .border-radius(15px); }
    .out { border-color: transparent; }

  }
  
  #info { margin-top: 10px; font-size: 30px; overflow: hidden; color: red;

    .timer { float: right; }
    .reload { display: none; padding: 5px; clear: both; }

  }
}