body {
  font-family: Arial sans-serif;
  font-size: 14px;
}
#wrapper {
  margin: 0 auto;
  width: 320px;
}
#grid {
  height: 320px;
  overflow: hidden;
}
#grid .cell {
  width: 30px;
  height: 30px;
  float: left;
  color: #5b83ad;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
#grid .chosen {
  border-radius: 15px;
}
