/*** initialization ***/
/*** main ***/
body {
  font-family: "Courier New", monospace;
  font-size: 16px;
  font-weight: bold;
}
#wrapper {
  margin: 0 auto;
  width: 322px;
  padding: 10px;
  border-radius: 10px;
  background: lightblue;
}
#wrapper #grid {
  height: 160px;
  overflow: hidden;
  background: url(../img/1.jpg);
  border-radius: 5px;
  padding: 1px;
}
#wrapper #grid .cell {
  width: 28px;
  height: 28px;
  float: left;
  color: #5b83ad;
  border: 1px solid #ffffff;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin: 1px;
}
#wrapper #grid .chosen {
  border-radius: 15px;
}
#wrapper #grid .out {
  border-color: transparent;
}
#wrapper #info {
  margin-top: 10px;
  font-size: 30px;
  overflow: hidden;
  color: red;
}
#wrapper #info .timer {
  float: right;
}
#wrapper #info .reload {
  display: none;
  padding: 5px;
  clear: both;
}
